/*Global Rules*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "work sans", sans-serif;

}
/*

.parent {
    background-color: #eee;
}
*/

.h_containter {
    width: 600px;
    margin: auto;
    padding-left: 15px;
}

/*Small*/
@media (min-width: 768px) {
    .h_containter {
        width: 750px;
    }
}

/*Medium*/
@media (min-width: 992px) {
    .h_containter {
        width: 970px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    .h_containter {
        width: 1170px;
    }
}

/*End of Global Rules*/

/*Start Header*/
.header {
    padding: 20px;
}

.header .h_containter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .h_logo {
    width: 60px;
}

.header .h_links {
    position: relative;
}

.header .h_links .h_icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column ;
    justify-content: flex-end;
}
.header .h_links .h_icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;

}

.header .h_links .h_icon span :first-child {
    width: 60%;

}



/*End of Start Header*/