/*start variables*/
:root {
    --main-color: #10cab7;
    /*--background-color: #F6F6F6;*/ /*3shan ellon da msh bayn felshasha elso8yara*/
    --background-color: #d1d0d2;
    /*special-heading-color:#ebeced;*/ /*3shan ellon da msh bayn felshasha elso8yara*/
    --special-heading-color: #d1d0d2;
    --paragragh-color: #777;
    --paragraph-font-size: 18px;
    --paragraph-line-height: 1.8;
    --special-headingP-color: #797979;
}

/*end variables*/
/*Start Components*/
.special-heading {
    color: var( --special-heading-color);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;

}

.special-heading + p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: var(--special-headingP-color);

}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -20px;
    }

}

/*End Components*/

/*Global Rules*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "work sans", sans-serif;
}


.parent {
    background-color: #eee;
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    /*background-color: blue;*/
}

/*Small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*End of Global Rules*/

/*Start Header*/
.header {
    padding: 20px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

/*links styling*/
.header .links {
    position: relative;
}

/*link icon design*/
/*hover to animate icon*/

/*end of hover to animate icon*/
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;

}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;

}

/*end of link icon design*/

/*links list */
/*بيظبط شكلها مع الicon عشان تبان نازله منها وتخفيها*/
.header .links ul {
    list-style: none;
    display: none;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: var(--background-color);
    min-width: 200px;
    top: calc(100% + 15px);
    z-index: 1;

}

/* عشان لما اعدي علي ال icon يطلع الlist*/
.header .links:hover ul {
    display: block;
}

/*links list arrow*/
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--background-color) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

/*end oflinks list arrow*/
/*عشان يشيل الخطوط والالوان بتاكت الlink */
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

/*عشان كل ما عدي علي li يطلع برا سيكا*/
.header .links ul li a:hover {
    padding-left: 25px;
}

/*عشان يبقي بان ان في مسافه بين كل li*/
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/*end of links list */
/*links styling*/
/*End of Header
conclusion: (height = 64px width is changable )*/

/*start Landing Section*/
.landing {
    background-image: url("../images/mountain.png");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);


}

.landing .intro-text p {
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
}

/*end Landing Section*/

/*start features section*/
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
}

.features .container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: var(--paragraph-line-height);
    color: var(--paragragh-color);
    font-size: var(--paragraph-font-size);
}

/*end features section*/

/*Start Services section*/
.services {
    margin: 60px 0;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;

}


/*End Services section*/
