/*Global Rules*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "work sans", sans-serif;

}
/*

.parent {
    background-color: #eee;
}
*/

.containter {
    width: 600px;
    margin: auto;
    padding-left: 15px;
}

/*Small*/
@media (min-width: 768px) {
    .containter {
        width: 750px;
    }
}

/*Medium*/
@media (min-width: 992px) {
    .containter {
        width: 970px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    .containter {
        width: 1170px;
    }
}

/*End of Global Rules*/

/*Start Header*/
.header {
    padding: 20px;
}

.header .containter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}
/*links styling*/
.header .links {
    position: relative;
}
/*link icon design*/
.header .links:hover .icon span:nth-child(2){
    width: 100%;

}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;

}
.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s ;
}

.header .links .icon span:last-child {
    width: 100%;
}
/*end of link icon design*/
/*links list */
.header .links ul{
    list-style: none;
    display: none;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}
.header .links:hover ul{
    display: block;
}
/*end of links list */
/*links styling*/

/*End of Start Header*/